*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    background: no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 20px #242424;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 1em;
}

/* weather */

.weather {
    align-self: flex-end;
}

.weather-top {
    display: flex;
    align-items: center;
}

.weather-icon {
    width: 75px;
    margin: -0.8em -0.4em;
}

.weather-temp {
    font-size: 2rem;
}

/* middle */

.middle {
    align-self: center;
}

.time {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.quote {
    max-width: 450px;
}

/* author */

.author {
    align-self: flex-start;
}

/* media query */

@media (min-width: 800px) {
    .time {
        font-size: 2.5rem;
    }

    .weather-city,
    .quote,
    .author {
        font-size: 1.25rem;
    }
}
